:root {
  --header-background: #000;
  --body-color: #000;
  --button-color: #0000ff;
  --red-color: #ff0000;
  --border-grey: #cccccc;
  --alt-table-row-color: #EDF5FF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5FDFF; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
